.visual_head
  .image.cover-image{:style => "background-image: url('#{channel_photo_path(@channel, :width => 400, :height => 400, :crop => :limit, :class => 'cover-image')}')"}

.section.description
  .content
    %h2.san-serif= @channel.description

.section.creator
  .head Created By
  .content
    %a{:href => user_path(@channel.user)}= @channel.user.name