- cache channel do
  .channel.tile

    %a{:href => channel_url(channel, :subdomain => false)}
      .image.cover-image{:style => "background-image: url('#{channel.photo_url(:medium)}')"}
      %h4.name= channel.name

      -#.subheader= pluralize(channel.posts_count, 'Post')