- content_for :header do
  %header
    %hrgroup
      %h1.san-serif Channels

      %h3.subheader.san-serif
        = ["We haz them.", "are the best idea since sliced bread.", "You likey?", "They're for surfing.","Not to be confused with 'Chanel'."][rand(5)]

.centered-sections
  .section
    %h3.san-serif.head
      = @channels.count
      Channels
    %i.icon-caret-down
    .content
      = render "channels/create_channel_tile"
      - @channels.each do |channel|
        = render "channels/tile", :channel => channel
