- content_for :og_tags do
  meta property='og:image' content=channel_photo_path(@channel, :width => 400, :height => 400, :crop => :limit)

= render "shared/page_nav", channel_page_nav_options(@channel)

= render 'shared/page_header', :name => 'Posts', :feed => "#{channel_url(@channel)}/feed.atom"

= render "posts/collection", :posts => @posts

= auto_discovery_link_tag(:atom, "#{channel_url(@channel)}/feed.atom")