- content_for :og_tags do
  meta property='og:image' content=channel_photo_path(@channel, :width => 400, :height => 400, :crop => :limit)

= render "shared/page_nav", channel_page_nav_options(@channel)

h4#page-header.sans-serif Posts

= render "posts/collection", :posts => @posts