<p>Hi<%= @user.username ? " #{@user.username}" : "" %>,</p>

<p>
  I'm Matt, and I'm a Co-Founder of ThisThat.
  You're one of our first users, so I wanted to send you an email and see how your first time on ThisThat was.
</p>

<p>
  Marc and I built ThisThat as a new way to organize and follow the topics you care about, and we want it to be as useful as possible!
  So if you have any ideas on how we can improve it, please don't hesitate to reach out anytime.
  This is my personal email, and it's the quickest way to give me feedback (or get me to fix a bug!).
  In fact, if you could answer some quick questions, it'd be a huge help as we improve the site:
</p>

<p>
  1. Do you understand how to use ThisThat? What doesn't make sense about the site?
</p>

<p>
  2. What do you think of the publishing process? If you have auto-publish turned on, do you approve of the categories on your posts?
</p>

<p>
  3. Would you invite a friend to ThisThat? If not, why not?
</p>

<p>
  Thanks again, and I look forward to hearing your thoughts!
</p>

<div>
  Best,
  <br/>Matt
  <br/>matt@getthisthat.com
  <br/><a href="<%= root_url %>Matt" target="_blank">Matt</a> on ThisThat
</div>