<p>
  <%= link_to @post.user.name, user_url(:subdomain => @post.user.username) %> just published a new post in your channel:
</p>

<p>
  <%= link_to @post.title, post_url(@post.token, :subdomain => false) %>
</p>