<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">
  <%= link_to @post.user.name, user_pretty_url(@post.user) %> just published a new post in your channel:
</p>

<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">
  <%= link_to @post.title, post_url(@post.token, :subdomain => false) %>
</p>