<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">Hey <%= @user.first_name %>,</p>

<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">
  <%= link_to @recommender.first_name, user_pretty_url(@recommender) %> recommended your post: <%= link_to @post.title, post_url(@post.token, :subdomain => false) %>
</p>