<p>Hey there, and welcome to ThisThat!</p>

<p>We're glad you've decided to join. ThisThat is a blogging platform with a new spin: channels.</p>

<p>
  Channels are basically just spaces where posts live.
  Instead of posting to your own blog, you contribute to channels, which focus on a common theme or prompt.
  We believe strongly that this communal aspect is what's missing from internet publishing (it's like Reddit for blogging!)
</p>

<p>
  Anyway, now that we've been introduced, feel free to email us at ANY time with feedback!
  The site is very new, and we'd love if you helped us make it something awesome.
</p>

<div style="margin-top:10px;">
  - Marc & Matt
  <br/>The ThisThat Team
</div>
