<p>Hey there, and welcome to ThisThat!</p>

<p>We're glad you've decided to join. ThisThat is a long-form publishing </p>

<table>
  <tr>
    <td>
      <h3 style="margin-right: 10px;">1</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Connect Your Social Networks</div>
      <div>
        The more networks you connect, the more useful it will be for you.
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>2</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Check your Pending feed</div>
      <div>
        After connecting social networks, you should have some pending posts.
        Just add a channel and click Publish!
        You can also turn on Auto-publish in your settings
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>3</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Explore</div>
      <div>
        The Explore feed shows you what everyone else is sharing - go explore, and don't be afraid to click "Share It" on posts you like!
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>4</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Spread the Love</div>
      <div>
        Sharing your ThisThat profile is a great way to showcase everything you're sharing on the web.
        Throw a link to your ThisThat profile in your email signature and your Twitter bio!
      </div>
    </td>
  </tr>
</table>

<div style="margin-top:10px;">
  - Marc & Matt
  <br/>The ThisThat Team
</div>
