<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">
  Hey <%= @user.first_name %>,
</p>

<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">
  Thanks for signing up for the Joint Ink preview! Are you a writer or a reader? ("Both" is acceptable)
</p>

<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">
  <b>Readers:</b>
  We've done our best to make sure that our early content is all high quality stuff.
  You can check out a list of the most popular channels at <%= link_to channels_url, channels_url %>.
</p>

<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">
  <b>Writers:</b>
  We want to ensure we have the best publishing experience on the web, but we're not there yet.
  Email Matt (<a href="mailto:matt@jointink">matt@jointink.com</a>) at any time and let us know what we can improve.
</p>

<p style="color:rgb(34,34,34);font-family:arial,sans-serif;line-height:normal">
  --The Joint Ink Team
</p>