.visual_head
  %i.icon-cog

.side_nav

  %ul.main_links
    %li{:class => params[:action] == 'basic_settings' ? 'on' : ''}
      %a.name{:href => user_basic_settings_path} Basic Settings
    %li{:class => params[:action] == 'social_settings' ? 'on' : ''}
      %a.name{:href => user_social_settings_path} Social Settings
    -#%li{:class => params[:action] == 'email_settings' ? 'on' : ''}
    -#  %a.name{:href => user_email_settings_path} Email Settings
    -#%li{:class => params[:action] == 'domain_settings' ? 'on' : ''}
    -#  %a.name{:href => user_domain_settings_path} Custom Domain
