.visual_head
  .image.cover-image{:style => "background-image: url('#{user_avatar_path(@user, :width => 400, :height => 400, :crop => :limit, :gravity => :face)}')"}

.container

  -#.top
  -#  %h5.subheader= @user.bio
  -#
  -#  - @user.accounts.each do |account|
  -#    - if account.provider == 'twitter'
  -#      .fact
  -#        %i.icon-twitter
  -#        %a{:href => account.url}= account.username
  -#    - elsif account.provider == 'facebook'
  -#      .fact
  -#        %i.icon-facebook
  -#        %a{:href => account.url}= account.username

  .section
    .content
      %ul
        - @user.post_channels.each do |channel|
          %li
            %a.name{:href => channel_path(channel)}= channel.name