.visual_head
  .image.cover-image{:style => "background-image: url('#{user_avatar_path(@user, :width => 400, :height => 400, :crop => :limit, :gravity => :face)}')"}

.container

  - if @user.bio && !@user.bio.blank?
    .section.bio
      .content
        %h2= @user.bio

  -#.top
  -#  %h5.subheader= @user.bio
  -#
  -#  - @user.accounts.each do |account|
  -#    - if account.provider == 'twitter'
  -#      .fact
  -#        %i.icon-twitter
  -#        %a{:href => account.url}= account.username
  -#    - elsif account.provider == 'facebook'
  -#      .fact
  -#        %i.icon-facebook
  -#        %a{:href => account.url}= account.username

  - if @user.created_channels.count > 0
    .section.my_channels
      .head Channels I Created
      %ul
        - @user.created_channels.each do |channel|
          %li
            %a.name{:href => channel_path(channel)}= channel.name

  - if @user.contributed_channels.count > 0
    .section.channels
      .head Channels I Post To
      %ul
        - @user.contributed_channels.each do |channel|
          %li
            %a.name{:href => channel_path(channel)}= channel.name