= render "shared/page_nav", user_page_nav_options(@user)

= render 'shared/page_header', :name => "Recommended By #{@user.first_name}"

- if @posts.length > 0
  = render "posts/collection", :posts => @posts