- content_for :og_tags do
  %meta{:property => 'og:image', :content => user_avatar_path(@user, :width => 400, :height => 400, :crop => :limit, :gravity => :face)}

- content_for :sidebar do
  = render :partial => "sidebar", :layout => 'layouts/sidebar'

= render "posts/collection", :posts => @posts