#main_window.ten.columns.social_settings

  %h1#page_title Social Settings

  .single_section
    %h4.subheader
      If you connect your social accounts we'll show you the media your friends are sharing the most.
      %br
      We will never post to your Facebook or Twitter!

  .row.single_section
    .two.columns
      %i.icon-twitter-sign
    .ten.columns
      .add
        Sign into the Twitter account you would like to add, and then
        %a{:href => '/users/auth/twitter'} [Click Here]
      - current_user.accounts.each do |account|
        - if account.provider == 'twitter'
          .account
            .name= "#{account.username}"
            %a.remove{:href => account_deauth_path(account), 'data-method' => 'put'} Remove

  .row.single_section
    .two.columns
      %i.icon-facebook-sign
    .ten.columns
      .add
        Sign into the Facebook account you would like to add, and then
        %a{:href => '/users/auth/facebook'} [Click Here]
      - current_user.accounts.each do |account|
        - if account.provider == 'facebook'
          .account
            .name= "#{account.username}"
            %a.remove{:href => account_deauth_path(account), 'data-method' => 'put'} Remove