.center-screen
  %h1.sans-serif ThisThat

  %h2.sans-serif Publishing. Reimagined.

  .login
    %a{:href => 'http://marc.getthisthat.com/about-thisthat/hello-world'} Learn More
    ,
    %a{:href => signin_path} Sign In
    , or
    %a{:href => user_registration_path} Join Now

.centered-sections.channels
  .section
    - @channels.each do |channel|
      = render "channels/tile", :channel => channel
    .more-channels= link_to "...or browse more channels", channels_path