.center-screen
  %h1.san-serif ThisThat

  %h2.san-serif Publishing. Reimagined.

  .login
    %a{:href => 'http://marc.getthisthat.com/about-thisthat/hello-world'} Learn More
    ,
    %a{:href => signin_path} Sign In
    , or
    %a{:href => user_registration_path} Join Now