.center-screen
  %h1 ThisThat

  %h2 Publishing. Reimagined.

  .login
    %a{:href => 'http://www.getthisthat.com/c/about-thisthat/wtf'} Learn More
    ,
    %a{:href => signin_path} Sign In
    , or
    %a{:href => user_registration_path} Join Now