.post.tile.blank
  .title Contribute
  %p
    Every post must have a channel.
    %br
    Choose or create a channel first.
  .buttons
    .small.action.button Create Channel
    .small.action.button Browse Channels