.post.tile.blank
  .title Contribute
  .buttons
    %div
      %a.medium.white.button{:href => new_channel_path, 'data-skip-pjax' => true} +New Channel
    %div
      %a.medium.white.button{:href => new_post_path('text', 'article'), 'data-skip-pjax' => true} +New Article
    %div
      %a.medium.white.button{:href => new_post_path('picture', 'caption'), 'data-skip-pjax' => true} +New Picture
    %div
      %a.medium.white.button{:href => channels_path} Browse Channels