.post.tile.blank
  .title Contribute
  .buttons
    %div
      %a.medium.white.button{:href => new_channel_url(:subdomain => false), 'data-skip-pjax' => true} +New Channel
    %div
      %a.medium.white.button{:href => new_post_url('text', 'article',:subdomain => false), 'data-skip-pjax' => true} +New Article
    %div
      %a.medium.white.button{:href => new_post_url('picture', 'caption', :subdomain => false), 'data-skip-pjax' => true} +New Picture
    %div
      %a.medium.white.button{:href => channels_url(:subdomain => false)} Browse Channels