.post.tile.blank
  - if signed_in?
    .title Contribute
    %p Contribute to the '#{@channel.name}' channel.
    .buttons
      %div
        %a.medium.white.button{:href => new_channel_post_url(@channel, 'text', 'article', :subdomain => false), 'data-skip-pjax' => true} +New Article
      %div
        %a.medium.white.button{:href => new_channel_post_url(@channel, 'picture', 'caption', :subdomain => false), 'data-skip-pjax' => true} +New Picture
      %div
        %a.medium.white.button{:href => channels_url(:subdomain => false)} Browse Channels
  - else
    .title Contribute
    %p You have to sign in first!
    .buttons
      %a.medium.white.button{:href => user_registration_url(:subdomain => false)} Sign In