- cache post do
  %a.user{:href => user_url(:subdomain => post.user.username)}= post.user.name
  %span.in in
  %i.icon-double-angle-right
  - if post.primary_channel
    %a.channel{:href => channel_url(post.primary_channel, :subdomain => false)}= post.primary_channel.name
  - else
    %a.channel{:href => '#'} None

  .i-wrapper
    - unless post.attribution_link.blank?
      %a{ :href => post.attribution_link, :target => "_blank" }
        %i.icon-external-link{:title => 'This post was originally published elsewhere.'}
    - if post.audio.present?
      %i.icon-volume-up{:title => 'This post includes audio.'}