.post.tile{:id => "posts-#{post.id}"}

  = yield

  .bottom
    = render "posts/tile_bottom", :post => post

  - if signed_in? && current_user.id == post.user_id && !defined?(editing)
    = render "posts/tile_actions", :post => post