- cache post do
  %a.user{:href => user_path(post.user)}= post.user.name
  %span.in in
  %i.icon-double-angle-right
  - if post.primary_channel
    %a.channel{:href => channel_path(post.primary_channel)}= post.primary_channel.name
  - else
    %a.channel{:href => '#'} None

  - if post.audio.present?
    %i.icon-volume-up{:title => 'This post includes audio.'}