

#post-editor{:class => @post.post_type}

  - content_for :header do
    .section.editor-publish
      .part
        %i.icon-upload
        %span.name Publish

    .section.editor-save
      .part
        %i.icon-save
        %span.name Save

    .section.editor-discard
      .part
        %a{:href => post_path(@post), 'data-method' => :delete, 'data-confirm' => 'Are you sure you want to discard this post?', 'data-skip-pjax' => true}
          %i.icon-remove
          Discard

  #editor-submit-url{'data-url' => post_path(@post.id)}
  = render :partial => "content_#{@post.post_type}", :layout => 'content'