- if @post.photo.present?
  - content_for :og_tags do
    meta property='og:image' content=@post.photo_url

= render :partial => "posts/show--#{@post.post_type ? @post.post_type : 'text'}", :layout => 'posts/show', :locals => {:post => @post}