// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 1100 =================================================== */

// 1. ROOT 					==============================

.post-tile {
  .right-meta {
    display: block;
  }
}

.dashboard-section {
  width: 29%;
  height: 31.4%;

  .numbers {
    padding: 25px 25px 5px 25px;
    padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  }

  &.double-h {
    height: 64.7%;
  }
  &.double-w {
    width: 39%;
  }
  &.create {
    display: block;
  }
  &.site-name {
    display: block;
  }
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================