// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 600 =================================================== */

// 1. ROOT 					==============================

html {
  font-size: 60%;
}

#sidebar {
  float: none;
  margin-left: 0;
  margin-bottom: 15px;
  padding-right: 0;
  width: 100%;
  position: static !important;
  text-align: center;

  .visual_head {
    height: 250px;
    border: none;
  }
  .container {
    background: transparent;

    .section {
      display: none;
    }
  }
}

#container {
  width: 100%;
  padding: 0 0 25px 0;
}

#header {
  width: 100%;
  padding: 0;
  height: 35px;

  .part {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
  .dropdown {
    min-width: 90px;
    .menu {
      top: 35px;
    }
    .name,
    .icon-caret-down {
      font-size: 14px;
    }
  }
  .section {
    &.home {
      width: 36px;
      .part {
        padding: 0;
      }
    }
    &.main {
      display: none;
    }
    &.share,
    &.post,
    &.admin {
      .dropdown {
        .menu {
          width: 135px;
        }
      }
    }
    &.menu {
      width: 90px;
      .dropdown {
        .menu {
          width: 165px;
          right: auto;
          left: 0;
        }
      }
    }
  }
}

#main {
  width: 100%;
  padding-left: 0 !important;
}

.fullscreen {
  #main {
    overflow: visible;
  }
  .info {
    height: auto !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    margin: 10px 0 0 0 !important;
    float: none !important;
    clear: both;
  }
}

#posts-show {
  &.fullscreen {
    padding-right: 0px;
  }
}

#page-title {
  display: none;
}

#post-collection {
  padding: 0 15px;
}

.post.tile {
  margin: 15px auto;
  float: none;
  width: 100%;
}

.text-type {
  .content-wrapper {
    padding: 0 25px;
  }
}

#post-collection {
  left: 0;
}

.page-header {
  margin-top: 35px;
  margin-bottom: -5px;
}

#posts-show {
  &.fullscreen {
    &.picture {
      #header {
        width: 275px;
      }
    }
  }
}


// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================