// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 600 =================================================== */

// 1. ROOT 					==============================

.post-full {
  &.full-page {
    .post-full-picture {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 10;
      height: 80%;
    }
    .post-full-picture-placeholder {
      display: block;
      height: 80%;
    }
    .post-full-header-wrapper {
      position: fixed;
      top: 15%;
      left: 0;
      right: 0;
      z-index: 20;
      background: transparent;
    }
    .post-full-header {
      .post-full-header-inner {
        padding: 3% 7% 3% 4%;
        background: rgba(255,255,255,0.8);
        max-width: 500px;
        display: inline-block;
        border: 1px solid #222;
      }
      .post-full-top-meta {
        padding-bottom: 0;
        border-bottom: none;
        color: #666;

        a {
          color: #333;
        }
      }
    }
    .post-full-content {
      padding-top: 3rem;
    }
  }
}

.post-tile {
  margin-left: auto;
  margin-right: auto;
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================