// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 600 =================================================== */

// 1. ROOT 					==============================

html {
  font-size: 60%;
}

#container {
  width: 100%;
  padding: 0 0 25px 0;
}

#mast-header header {
  width: 100%;
  margin: 70px 0 0 0;
}

#page-nav {
  nav {
    .circle-image {
      display: none;
    }
    .circle-dot {
      display: inline;
    }
    .left,
    .right {
      float: none;
      display: inline;
      position: static;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

#main {
  width: 100%;
  margin-top: 50px;
}

.fullscreen {
  #main {
    overflow: visible;
  }
  .info {
    height: auto !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    margin: 10px 0 0 0 !important;
    float: none !important;
    clear: both;
  }
}

#posts-show {
  .info-strip {
    padding: 25px 15px !important;
    text-align: center;
  }
  .white-wrap {
    padding: 25px 15px !important;
    width: auto;
  }
}

.post.tile {
  margin: 20px auto;
  float: none;
  width: 100%;
  max-width: 420px;
}

#posts-show {
  &.fullscreen {
    &.picture {
      #header {
        width: 100%;
        position: static;
        margin-bottom: 5px;
      }
    }
  }
}


// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================