// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. ROOT 					==============================

#page-nav {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

.pages-home {
  .section {
    @include clearfix();

    .half {
      width: 50%;
      float: left;

      &.first {
        padding-right: 2%;
      }
      &.second {
        padding-left: 2%;
      }
    }
  }
}
.splash-page-moar-list {
  max-width: 700px;
  margin: auto;

  li {
    float: left;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

.post-show--cover-page-article,
.post-show--large-image-article,
.post-show--default-article {
  .post-show__actions {
    padding-left: 0;
    padding-right: 0;
  }
  .post-show__author {
    a {
      margin: 0;
    }
  }
  .post-show__channels {
    .inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.post-show__header,
.post-show__content {
  padding-left: 0;
  padding-right: 0;
}

.post-tile {
  padding: 0;
  margin-bottom: 50px;
  margin-bottom: 5rem;
}

.post-tile__content {
  border-top: 3px solid $secondary-color;
  border-bottom: none;
}

// 2. TYPOGRAPHY 			==============================

html {
  font-size: 73%;
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================