// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. ROOT 					==============================

#posts-show {
  #picture-wrapper {
    margin-top: -15px;
  }
  .content-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  #post-picture-title {
    width: 450px;
    left: 50% !important;
    margin-left: -225px;

    h1 {
      font-size: 34px !important;
      font-size: 3.4rem !important;
    }
  }
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================