/* 992 =================================================== */

// 1. ROOT 					==============================


// TRANSITION TO SIDEBAR LAYOUT
#mast-nav {
  bottom: auto;
  top: 0;
  right: 25px;

  .vertical-menu {
    ul {
      bottom: auto;
      top: 0;
      right: -29px;
    }
  }
}

#page-nav-padder {
  width: $mast-nav-width;
  max-width: $mast-nav-max-width;
  float: left;
  height: 1px;
}

#page-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $mast-nav-width;
  max-width: $mast-nav-max-width;
  background: #34495e;
  border: none;

  header {
    height: 35%;
    margin-bottom: 80px;
    margin-bottom: 8rem;
    text-align: left;
    border-bottom: 5px solid #2c3e50;

    .inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
    }
    h1 {
      font-size: 32px;
      font-size: 3.2rem;
      line-height: 34px;
      line-height: 3.4rem;
    }
    .badge {
      left: -10px;
      left: -1rem;
      bottom: -40px;
      bottom: -4rem;
      margin-left: 0;
    }
    .bg {
      z-index: 5;
    }
    .created-by {
      padding-left: 0;
    }
  }
  .social-links {
    margin: -70px 0 50px 100px;
    margin: -7rem 0 5rem 10rem;
    display: block;
  }
  nav {
    border: none;
    display: inline-block;

    li {
      display: block;

      .name {
        padding-right: 55px;
        padding-right: 5.5rem;
      }
    }
    .icon-caret-down {
      display: none;
    }
  }

  &.channels-c {
    header {
      height: 100%;

      .bg {
        @include box-shadow(0 120px 70px 20px rgba(0, 0, 0, 0.45) inset);
        @include box-shadow(0 12rem 7rem 2rem rgba(0, 0, 0, 0.45) inset);
      }
    }
    nav {
      position: absolute;
      top: 35%;
      left: 0;
      z-index: 100;

      i {
        font-size: 15px;
      }
      .name {
        display: none;
      }
    }
    &:hover {
      nav {
        .name {
          display: inline;
        }
      }
    }
  }
}

#main-content-wrapper {
  padding: 0;
  height: 100%;

  &.with-page-nav {
    padding: 0 10px 0 7%;
    padding: 0 1rem 0 7%;
    display: inline-block;
    width: 99 - $mast-nav-width;
  }
}

#post-collection {
  padding-top: 45px;
  padding-top: 4.5rem;
}

#page-header {
  display: inline-block;
}
// END TRANSITION TO SIDEBAR LAYOUT

// DASHBOARD
.dashboard-section {
  float: left;
  width: 32.3%;
  margin: 0.5%;
  height: 32%;
  border-bottom: none;

  .numbers {
    padding: 20px 15px 3px;
    padding: 2rem 1.5rem 0.3rem;
  }
  .chart {
    &.column {
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
    }
  }

  &.double-h {
    height: 64.7%;
  }
  &.triple-h {
    height: 98%;
  }
  &.double-w {
    width: 65.5%;
  }
  &.posts {
    max-height: none;
  }
  &.create {
    display: none;
    ul {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 22%;
    }
  }
}

.tt-form {
  .section {
    .line {
      .name {
        display: inline-block;
        padding: 3px 10px 0 0;
        padding: 0.3rem 1rem 0 0;
        width: 49%;
        vertical-align: top;
        text-align: right;
      }
      .content {
        width: 49%;
        padding-left: 10px;
        padding-left: 1rem;
        display: block;
        float: right;

        input {
          min-width: 100%;
        }
      }
    }
  }
}

#channel-collection {
  text-align: left;
}

.channel-tile {
  margin: 0 20px 20px 0;
}

.small-screen-cover {
  display: none;
}

.post-tile {
  max-width: none;
}

.post-tile-blank {
  margin-left: -5px;
  margin-left: -0.5rem;
}

.post-full-meta-section {
  &.channels {
    .add-channel {
      left: 120px;
      left: 12rem;
    }
  }
}

.post-title {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 40px;
  line-height: 4rem;
}

// 2. TYPOGRAPHY 			==============================

html {
  font-size: 85%;
}

// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 34px;
  line-height: 3.4rem;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 28px;
  line-height: 2.8rem;
}

h3 {
  font-size: 20px;
  font-size: 2rem;
}

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18px;
  line-height: 1.8rem;
}

h5 {
  font-size: 13.2px;
  font-size: 1.32rem;
}

h6 {
  font-size: 10.7px;
  font-size: 1.07rem;
}

// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================