/* 992 =================================================== */

// 1. ROOT 					==============================

#container,
#header {
  width: 620px;
}
#header {
  .part {
    font-size: 16px;
  }
  .dropdown {
    min-width: 115px;
    .name,
    .icon-caret-down {
      font-size: 16px;
    }
  }
  .section {
    &.home {
      width: 45px;
    }
    &.main {
      display: none;
    }
    &.menu {
      width: 115px;
      .dropdown {
        .menu {
          width: 165px;
        }
      }
    }
  }
}
#sidebar {
  .visual_head {
    display: none;
  }
}
.page-header {
  display: block;
}
#posts-show {
  .page-header {
    display: none;
  }
  &.fullscreen {
    &.picture {
      #header {
        width: 335px;
      }
    }
  }
}
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================