/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0; }

html {
  font-size: 62.5%;
}

body {
  background: $body-bg-color;
  min-height: 100%;
  color: $body-text-color;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  line-height: 2rem;
}
ul, ol, p {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 22px;
  line-height: 2.2rem;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: $body-text-color;
}

h1 {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 30px;
  line-height: 3rem;
}

h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 26px;
  line-height: 2.6rem;
}

h3 {
  font-size: 18.7px;
  font-size: 1.87rem;
}

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18px;
  line-height: 1.8rem;
}

h5 {
  font-size: 13.2px;
  font-size: 1.32rem;
}

h6 {
  font-size: 10.7px;
  font-size: 1.07rem;
}

a {
  outline: 0;
  color: $primary-color;

  &:focus {
    @include box-shadow(none);
    outline: 0;
  }
  &:hover {
    color: $primary-color-darker;
  }
}

p,ul,ol {
  margin: 0 0 15px 0;
  margin: 0 0 1.5rem 0;
}

ul {
  list-style: none;
}

blockquote {
  font-style: italic;
  max-width: 500px;
  margin: 0 0 25px -20px;
  margin: 0 0 2.5rem -2rem;
  padding: 0 0 0 20px;
  padding: 0 0 0 2rem;
  border-left: 5px solid $primary-color;
  border-left: 0.5rem solid $primary-color;
  position: relative;

  p {
    padding: 7px 0;
    margin: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  @include border-radius(0);
  @include single-box-shadow(none);
  border: 1px solid #999;
  height: auto;
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

label {
  cursor: default;
}

form {
  label {
    font-weight: bold;
    padding: 0 0 2px 2px;
  }
  input {
    max-width: 250px;
  }
  .submit {
    margin: 25px 0 0 0;
  }
  .errors {
    background: #ffe2db;
    border: 1px solid $red;
    padding: 5px 10px;
    padding: 0.5rem 1rem;
    display: none;

    li {
      margin: 3px 0;
      font-weight: bold;
      color: $red;
    }
  }
}