//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// external colors
$fb-color: #3B5998;
$tw-color: #00C0F7;
$tt-color: #666;

// action/attention color
$primary-color: #3498db;
$primary-color-darker: #2980b9;

// darker color
$secondary-color: #34495e;
$secondary-color-darker: #2c3e50;

// lighter color
$tertiary-color: #ecf0f1;
$tertiary-color-darker: #cbd2d6;

// body
$body-bg-color: $tertiary-color;
$body-bg-color-lighter: #FDFDFD;
$body-text-color: #333;

// misc
$blue-gray-color: #6A7180;

// Site structure
// --------------------------------------------------

$site-vertical-padding: 55px;
$site-horizontal-padding: 15px;
$mast-nav-height: 400px;
$mast-nav-width: 36%;
$mast-nav-max-width: 475px;
$post-margin: 20px;
$post-tile-max-width: 700px;
$post-article-max-width: 650px;
$site-max-width: 1000px;

// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #AAA !default;
$grayLighter:           #eee !default;
$grayLightest:          #D7D8D9 !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #2f5990 !default;
$blueDark:              #1650A1 !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


// Scaffolding
// -------------------------
$bodyBackground: #e7ecf1 !default;
$textColor:             $grayDark !default;


// Links
// -------------------------
$linkColor:             $blue !default;
$linkColorHover:        darken($linkColor, 15%) !default;

// Placeholder text
::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color:    #999 !important;
}

// Selection
::selection {
  background: #999; /* Safari */
  color: #FFF;
}
::-moz-selection {
  background: #999; /* Firefox */
  color: #FFF;
}