/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "normalize";
@import "font-awesome";

// Foundation Components
@import
"foundation/components/global",
"foundation/components/visibility",
"foundation/components/type",
"foundation/components/buttons",
"foundation/components/reveal",
"foundation/components/alert-boxes",
"foundation/components/switch";

// Compass compontents
@import "bourbon";

// Custom variables
@import "variables";
@import "mixins";

@import "element_defaults";
@import "utilities";
@import "tooltips";

html,
body,
#data-pjax-container,
#main-content-wrapper,
#main-content {
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
  background: $body-bg-color;

  &.users-show,
  &.users-drafts,
  &.users-recommendations,
  &.channels-show {
    #main-content-wrapper {
      max-width: 750px;
    }
  }

  &.posts-c,
  &.pages-home,
  &.users-dashboard,
  &.users-content {
    height: 100%;
  }
}

#main-content-wrapper {
}

#main-content {
}

#mast-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11000;

  .handle {
    color: #FFF;
    background: #222;
    padding: 6px 8px;
    padding: 0.6rem 0.8rem;
    font-size: 18px;
    font-size: 1.8rem;
    cursor: default;
  }
  ul {
    position: absolute;
    top: 32px;
    top: 3.2rem;
    right: 0px;
    background: #222;
    padding: 0;
    display: none;
    margin: 0;
  }
  li {
    &:hover {
      a {
        background: #FFF;
        border-color: $primary-color;
        color: $body-text-color;
      }
    }
    &.spacer {
      height: 5px;
      height: 0.5rem;
    }
    &.head {
      cursor: default;
      background: #444;
      color: #FFF;
      font-size: 12px;
      font-size: 1.2rem;
      padding: 3px 25px 3px 11px;
      padding: 0.3rem 2.5rem 0.3rem 1.1rem;
    }
  }
  a {
    color: #FFF;
    white-space: nowrap;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 3px 25px 3px 7px;
    padding: 0.3rem 2.5rem 0.3rem 0.7rem;
    display: block;
  }
  .icon {
    margin: 0 6px 0 0;
    margin: 0 0.6rem 0 0;
    position: relative;
    top: -1px;
    font-size: 10px;
    font-size: 1rem;
  }

  &:hover {
    ul {
      display: block;
    }
  }
}

#page-nav {
  max-width: $post-tile-max-width;
  margin: auto;
  background: #FFF;

  header {
    position: relative;
    border-bottom: 2px solid $primary-color-darker;
    text-align: center;
    min-height: 20px;
    background: #FFF;

    .inner {
      padding: 15px 15px 65px 15px;
      padding: 1.5rem 1.5rem 12.5rem 1.5rem;
      position: relative;
      z-index: 10;
    }
    h1,
    .subheader {
      margin: 0;
      padding: 0;
    }
    h1 {
      font-size: 26px;
      font-size: 2.6rem;
      line-height: 28px;
      line-height: 2.8rem;
      color: #222;
    }
    .subheader {
      margin: 0;
    }
    .bg {
      box-shadow: 0 80px 70px 15px rgba(0, 0, 0, 0.45) inset;
      box-shadow: 0 8rem 7rem 1.5rem rgba(0, 0, 0, 0.45) inset;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .created-by {
      color: #F3F3F3;
      border-top: 1px solid #F3F3F3;
      padding: 10px 15px;
      padding: 1rem 1.5rem;
      margin-top: 10px;
      margin-top: 1rem;
      display: inline-block;
      font-weight: 300;

      a {
        color: #F3F3F3;
      }
    }
    &.with-cover-photo {
      h1 {
        color: #FFF;
      }
      .subheader {
        color: #F3F3F3;
      }
    }
  }

  .social-links {
    margin: 5px 0 0 -3px;
    margin: 0.5rem 0 0 -0.3rem;
    font-size: 20px;
    font-size: 2rem;
    overflow: hidden;
    clear: both;
    display: none;

    li {
      float: left;
      margin-right: 3px;
      margin-right: 0.3rem;

      a {
        color: $tertiary-color;
        &:hover {
          color: #FFF;
        }
      }
    }
  }

  .badge {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    @include border-radius(1000px);
    position: absolute;
    bottom: 10px;
    bottom: 1rem;
    left: 50%;
    margin-left: -50px;
    margin-left: -5rem;
    z-index: 100;

    overflow: hidden;

    img {
      width: 10rem;
      height: 10rem;
      display: block;
    }
  }

  .squares {
    background: image-url('squaresBG.png');
    background-color: #222;
    width: 100%;
    height: 100%;
  }

  nav {
    position: relative;
    border-bottom: 1px solid $grayLightest;

    ul {
      margin: 0;
    }
    a {
      @include transition(0.2s);
      display: none;

      color: $blue-gray-color;
      font-size: 14px;
      font-size: 1.4rem;
      padding: 6px 15px;
      padding: .6rem 1rem;
      background: #ecf0f1;

      .icon {
        font-size: 14px;
        font-size: 1.4rem;
        color: #95a5a6;
      }
      .name {
        margin-left: 10px;
        margin-left: 1rem;
      }
      &:hover {
        background: #bdc3c7;
        color: #ecf0f1;
        i {
          color: #ecf0f1;
        }
      }
      &.on {
        display: block;
        background: #3498db;
        color: #FFF;
        i {
          color: #2980b9;
        }
      }
    }
    .icon-caret-down {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -8px;
      font-size: 16px;
      color: #FFF;
    }
    &:hover {
      .icon-caret-down {
        display: none;
      }
      a {
        display: block;
      }
    }
  }
}

#page-header {
  display: none;

  h4 {
    background: $primary-color-darker;
    color: #FFF;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 6px 12px;
    padding: 0.6rem 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
    cursor: default;
    display: inline-block;
    line-height: 18px;
    line-height: 1.8rem;
  }
  .feed {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 6px;
    padding: 0.6rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
}

#loader {
  background: yellow;
  position: fixed;
  bottom: 40px;
  left: 50%;
  margin-left: -96px;
  padding: 15px 30px;
  font-size: 30px;
  font-size: 3rem;
  display: none;
}


.ji-form {
  text-align: left;
  padding: 30px 15px;
  padding: 3rem 1.5rem;
  max-width: 550px;
  max-width: 55rem;
  margin: auto;

  .alert-error {
    margin-bottom: 50px;
    margin-bottom: 5rem;
  }
}
.ji-form__section {
  width: 100%;
  margin-bottom: 50px;
  margin-bottom: 5rem;
}
.ji-form__section--top-border {
  border-top: 5px solid #FFF;
  padding-top: 50px;
  padding-top: 5rem;
}
.ji-form__section--list {
  .ji-form__item {
    input {
      margin-bottom: 10px;
      margin-bottom: 1rem;
    }
  }
}
.ji-form__item {
  margin-bottom: 30px;
  margin-bottom: 3rem;
  position: relative;

  input,
  textarea {
    width: 100%;
    display: block;
    background: transparent;
    padding: 0;
    border: none;
    resize: none;
    max-width: 500px;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
  }
}
.ji-form__switch {
  position: relative;
  min-height: 30px;
  min-height: 3rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;

  .switch {
    width: 100px;
    width: 10rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.ji-form__switch__name {
  padding-right: 110px;
  padding-right: 11rem;
}
.ji-form__plus {
  cursor: pointer;
  color: $primary-color;
  display: inline-block;
}
.ji-form__item--with-suffix {
  padding-right: 62%;
}
.ji-form__item__name {
  font-size: 20px;
  font-size: 2rem;
  border-bottom: 1px dashed darken($tertiary-color-darker, 10%);
  display: inline-block;
  padding: 0 0 3px 0;
  margin: 0 0 10px 0;
  cursor: default;
  font-weight: bold;
  white-space: nowrap;
}
.ji-form__item__suffix {
  position: absolute;
  bottom: -4px;
  bottom: -0.4rem;
  right: 0;
  color: #999;
  cursor: default;
  max-width: 60%;
  text-align: right;
  background: #FFF;
  padding: 3px 5px;
  padding: 0.3rem 0.5rem;
}
.ji-form__submit {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.option-wrapper {
  @include clearfix();
  width: 50%;
  display: inline-block;
  max-width: 230px;

  i {
    margin-right: 5px;
  }
  .head {
    margin-bottom: 6px;
    margin-bottom: 0.6rem;
  }
  &.first {
    padding-right: 3px;
    .option {
      float: right;
    }
  }
  &.second {
    padding-left: 3px;
    .option {
      float: left;
    }
  }
}
.option {
  background: transparent;
  padding: 10px 15px;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 160px;
  height: 16rem;
  text-align: left;

  &:hover {
    background: #CCC;
    cursor: pointer;
  }
  &.on {
    background: #999;
    color: #FFF;
    cursor: default;
  }
}

.tooltip {
  background: none;
  font-weight: normal;
  line-height: 18px;
  .tooltip-inner {
    @include border-radius(0);
    padding: 8px;
  }
  &.in {
    opacity: 0.9;
  }
  &.error {
    .tooltip-inner {
      background-color: $red;
    }
    .tooltip-arrow {
      border-right-color: $red;
    }
    a {
      color: #000;
      font-weight: bold;
    }
  }
}

.reveal-modal-bg {
  z-index: 2000;
}
.reveal-modal {
  z-index: 2001;
  padding: 0;

  .title {
    font-size: 20px;
    padding: 20px 40px 19px 30px;
    background: #EFEFEF;
    border-bottom: 1px solid #CCC;
  }
  .content {
    padding: 30px;
  }
  .close-reveal-modal {
    &:not(.button)  {
      position: absolute;
      top: 24px;
      right: 20px;
      font-weight: normal;
    }
  }
}

.centered-head {
  background: #FFF;
  text-align: center;
  padding: 40px 20px;
  padding: 4rem 2rem;
  border-bottom: 1px solid #CCC;
}

.centered-page {
  max-width: $site-max-width;
  margin: 0 auto;
  text-align: center;
}

#analytics-data {
  display: none;
}

@import "foundation_overrides";
@import "layout";
@import "users";
@import "channels";

@import "posts";
@import "posts_show";
@import "posts_tile";

@import "splash_page";
@import "jquery.autocomplete";
@import "jquery.jplayer";
@import "media_queries";