.channel-badge {
  img {
    vertical-align: middle;
  }
  .text {
    display: inline-block;
    margin: 0 0 0 10px;
  }
  .name {
    font-weight: 700;
    color: #222;
    &:hover {
      text-decoration: underline;
    }
  }
  .description {

  }
}

#channel_form {
  .action {
    margin: 55px auto 0 auto;
    display: block;
  }
}