.channel-badge {
  img {
    vertical-align: middle;
  }
  .text {
    display: inline-block;
    margin: 0 0 0 10px;
  }
  .name {
    font-weight: 700;
    color: #222;
    &:hover {
      text-decoration: underline;
    }
  }
  .description {

  }
}

.channels-c {
  #mast-header {

  }
  #page-nav {
    nav {
      border-top: 1px solid #DDD;
    }
  }
  .centered-sections {
    .icon-caret-down {
      margin-bottom: 0;
    }
  }
}

.channel.tile {
  display: inline-block;
  vertical-align: top;
  padding: 30px;

  .image {
    width: 200px;
    height: 200px;
    background-color: #FFF;
  }
  .name {
    font-weight: normal;
    color: #91917F;
    margin: 15px 0 0 0;
  }
  .subheader {
    margin: 3px 0 0 0;
  }
  &:hover {

    .name {
      text-decoration: underline;
    }
  }

  &.blank {
    a {
      width: 200px;
      height: 200px;
      border: 2px dashed #DDD;
      display: block;
      background: #FFF;
    }
    .name {
      line-height: 200px;
      margin: 0;
    }
    &:hover {
      a {
        background: #F9F9F9;
        border-color: #AAA;
      }
      .name {
        text-decoration: none;
      }
    }
  }
}

#channel_form {
  .action {
    margin: 55px auto 0 auto;
    display: block;
  }
}

#channels-index {
  #mast-header {
    padding: 50px 0 55px 0;
  }
}