#channel-collection {
  padding-top: 40px;
  padding-top: 4rem;
}
.channels-list {
  padding-top: 40px;
  padding-top: 4rem;
}

.channel-tile {
  @include border-radius(2px);
  vertical-align: top;
  padding: 0;
  position: relative;
  background-color: #FFF;
  margin: 0 -2px;
  width: 250px;
  height: 300px;
  overflow: hidden;
  margin: 0 20px 20px 0;
  position: relative;
  text-align: left;
  display: inline-block;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .name {
    @include text-shadow(black 0 1px 3px);
    position: absolute;
    top: 7%;
    left: 8%;
    right: 8%;
    margin: 0;
    z-index: 10;
    color: #FFF;
    line-height: 30px;
    font-weight: normal;
  }
  img {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 125px;
    height: 125px;
  }
  .bg {
    @include box-shadow(0 70px 70px -20px rgba(0, 0, 0, 0.65) inset);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .squares {
    background: image-url('squaresBG.png');
    background-color: #222;
    width: 100%;
    height: 100%;
  }
  &:hover {
    .bg {
      @include box-shadow(0 70px 70px -20px rgba(0, 0, 0, 0.85) inset);
    }
  }
}

.centered-page {
  .channel-tile {
    margin: 0 10px 20px 10px;
  }
}

#channel_form {
  padding-bottom: 50px;
  padding-bottom: 5rem;

  .action {
    margin: 55px auto 0 auto;
    display: block;
  }
}