$panel-width: 175px;
#posts-edit {
  padding: 60px $panel-width 0 $panel-width;

  .editor-actions {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;

    .button {
      a {
        color: #FFF;
      }
      &.editor-discard {
        &:hover {
          background: $red;
        }
      }
    }
  }

  &.picture {
    padding-top: 0;
    padding-bottom: 0;

    .editor-actions {
      position: absolute;
      top: 36px;
      right: 200px;
      left: auto;
      text-align: right;
    }
    .info-strip {
      padding-right: 475px;
    }
  }
  &.text {
    &.full-page {
      #picture-wrapper {
        width: auto;
        left: $panel-width;
        right: $panel-width;
      }
      .white-wrap {
        padding-bottom: 250px !important;
      }
    }
  }
}

#left-panel,
#right-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $panel-width - 5;
  background: #222;
  color: #EFEFEF;
  z-index: 500;

  .title {
    text-align: center;
    line-height: 130px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: default;
  }
  .section {
    margin-bottom: 30px;
    position: relative;

    .head {
      background: #EFEFEF;
      color: #222;
      font-size: 18px;
      padding: 7px 10px;
      display: inline-block;
      position: relative;
      cursor: default;

      .plus {
        position: absolute;
        top: 9px;
        font-size: 16px;
        color: #EFEFEF;
        cursor: pointer;
      }
      .loading {
        position: absolute;
        top: 0px;
        left: 20px;
      }
    }
    .content {
      li {
        margin: 2px 0;
        font-size: 13px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;

        a {
          color: #EFEFEF;
          display: block;
          overflow: hidden;
        }
        .icon {
          position: absolute;
          top: 9px;
          font-size: 12px;
        }
        .icon-remove {
          position: absolute;
          top: 4px;
          color: #EFEFEF;
          padding: 4px 10px;
          background: #222;
          display: none;
          cursor: pointer;
          width: 35px;
          z-index: 1000;

          &:hover {
            color: $red;
          }
        }
        &:hover {
          .icon-remove {
            display: block;
          }
        }
      }
    }
    &.post-style {
      .content {
        li {
          &:hover {
            background: #444;
            cursor: pointer;
          }
          &.on {
            background: #666;
            cursor: default;
          }
        }
      }
    }
  }
}
#left-panel {
  left: 0;
  .section {
    .head {
      .plus {
        right: -25px;
      }
    }
    .content {
      margin: 15px 10px 15px 0;
      li {
        padding: 5px 10px 5px 20px;
        .icon {
          left: 2px;
        }
        .icon-remove {
          right: -10px;
          border-left: 1px solid #666;

        }
      }
    }
  }
}
#right-panel {
  right: 0;
  text-align: right;
  .section {
    .head {
      //@include clearfix();
      .plus {
        left: -25px;
      }
    }
    .content {
      margin: 15px 0 15px 10px;
      li {
        padding: 5px 20px 5px 10px;
        .icon {
          right: 2px;
        }
        .icon-remove {
          left: -10px;
          border-right: 1px solid #666;
        }
      }
    }
  }
}

#post-editor {
  height: 100%;
  position: relative;

  .post {
    float: none;
  }
}

#channel-autocomplete {
  position: absolute;
  top: -2px;
  left: 155px;
  width: 250px;
  display: none;

  input {
    border-width: 2px;
    font-size: 16px;
  }
}

.autocomplete-suggestions {
  border-width: 2px !important;
}

#attribution-form {
  position: absolute;
  top: -2px;
  right: 155px;
  width: 250px;
  display: none;

  input {
    border: 2px solid #222;
    font-size: 16px;
  }
  .button {
    margin-top: 5px;
    border: 2px solid #222;
    float: right;
  }
}

#audio-upload {
  position: relative;

  .fileinput-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}