@import "variables";

#post-editor {
  height: 100%;
  position: relative;
  background: $body-bg-color-lighter;

  .post-show__content-wrapper {
    padding-bottom: 200px;
    padding-bottom: 20rem;
  }
  .post-show__actions,
  .post-show__author,
  .post-show__channels,
  .notice {
    display: none;
  }
  .post-show__fileinput-button,
  .post-show__main-image {
    display: block;
  }
  &.markdown-on {
    .post-show__main-image,
    .post-show__main-image-placeholder,
    .post-show__header-wrapper,
    .post-show__body {
      display: none !important;
    }
    .post-show__content-wrapper,
    .post-show__content {
      padding: 0;
    }
    .post-show__content-wrapper {
      padding-top: 50px;
      padding-top: 5rem;
    }
    .post-show__markdown {
      display: block;
    }
  }
}

.editor-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
  z-index: 1000;
}

$editor-section-horizontal-padding: 17px;
.editor-bar-section {
  position: relative;
  .display {
    padding: 5px;
  }
  .help {
    font-size: 10px;
    font-size: 1rem;
    padding: 0 $editor-section-horizontal-padding;
    cursor: default;

    a {
      text-decoration: underline;
      color: #FFF;
    }
  }
  .menu {
    position: absolute;
    bottom: 100%;
    min-width: 100%;
    padding: 10px 0;
    background: #777;
    color: #FFF;
    display: none;

    ul {
      margin: 0;
    }
    li {
      padding: 3px $editor-section-horizontal-padding;
    }
  }
  .autocomplete-suggestions {
    border: none;
    background: transparent;
    padding-top: 0;
  }
  .autocomplete-suggestion {
    padding: 3px $editor-section-horizontal-padding;

    &:hover {
      background: $primary-color;
      cursor: pointer;
    }
  }
  .autocomplete-selected {
    background: $primary-color;
  }

  &.with-menu {
    &:hover {
      background: #444;
      .menu {
        display: block;
      }
    }
  }
  &.pull-left {
    margin-left: 20px;
    margin-left: 2rem;

    &.first {
      margin-left: 0;
      border-left: none;
    }
  }
}

.editor-style {
  li {
    &:hover {
      background: $primary-color;
      cursor: pointer;
    }
  }
}

.editor-channels {
  .menu {
    ul {

    }
    li {
      a {
        color: #FFF;
      }
    }
  }
}

.editor-channel-remove {
  float: right;
}

.editor-audio {

  input {
    display: none;
  }
  .fileinput-button {
    cursor: pointer;

    input {
      display: block;
    }
  }
}

.editor-actions {
  .status {
    position: absolute;
    color: #FFF;
    font-size: 12px;
    font-size: 1.2rem;
    right: 105%;
    font-style: italic;
    top: 50%;
    margin-top: -9px;
    margin-top: -0.9rem;
    white-space: nowrap;
  }
  .button {
    text-align: left;

    >i {
      margin-right: 10px;
    }
    &.action {
      width: 17.15rem;
    }
  }
  .caret {
    &:hover {
      .menu {
        display: block;
      }
    }
  }
  .menu {
    right: 0;
    background: darken($primary-color, 25%);
    width: 233px;
    width: 17.15rem;
    .button {
      white-space: nowrap;
      width: 100%;
    }
  }
}

.post-show__markdown {
  display: none;
  padding: 0 0 250px 0;
  padding: 0 0 25rem 0;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  max-width: $post-article-max-width;

  .markdown-help {
    margin: 0 0 30px 0;

    .head {
      color: #999;
      font-size: 11px;
      font-size: 1.1rem;

      a,span {
        color: #666;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .hide-hints {
      font-size: 12px;
      color: $linkColor;
      cursor: pointer;
      padding: 10px 25px;
    }
    .content {
      background: #FFF;
      border: 1px solid #CCC;
      padding: 10px 0;
      margin: 25px 0 0 0;
      display: none;
    }
    .rules {

      li {
        margin: 10px 0;
        font-size: 12px;

        .name {
          font-weight: bold;
        }
      }
      div {
        font-size: 12px;
        padding: 0 25px;
      }
      .name {
        padding: 10px 25px;
        border-top: 1px dotted #DDD;
      }
    }
  }
  textarea {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 18px;
    line-height: 1.8rem;
    min-height: 200px;
    background: transparent;
    overflow: hidden !important;
    border: none;
    padding: 0;
    resize: none;
    width: 100%;
  }
}