.post-tile {
  width: 100%;
  position: relative;
  max-width: $post-tile-max-width;
  padding: 5px;
  padding: 0.5rem;
}


.post-tile__actions {
  background: $secondary-color;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 10px;
  font-size: 12px;
  font-size: 1.2rem;

  .icon-chevron-down,
  .icon-cog {
    color: #FFF;
  }
  .icon-cog {
    margin-right: 5px;
  }
  ul {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 0;
    background: $primary-color;
  }
  li {
    font-weight: bold;
    a {
      padding: 5px 15px;
      color: #FFF;
    }
  }
  &:hover {
    ul {
      display: block;
    }
  }
}


.post-tile__content {
  position: relative;
  display: block;
  background: #FFF;
  overflow: hidden;
  cursor: pointer;
  border-top: 3px solid $primary-color-darker;
  border-top: 0.3rem solid $primary-color-darker;

  &:hover {
    border-color: $primary-color;

    .post-tile__actions {
      background: $primary-color;
    }
  }
}


.post-tile__main-image {
  position: relative;

  img {
    width: 100%;
    display: block;
  }
}
.post-tile__main-image__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}


.post-tile__text {}


.post-tile__title {
  h1 {
    padding: 15px 15px 0 15px;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}


.post-tile__text-meta {
  padding: 0 15px 15px 15px;
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin: -1px 0 0 0;
  margin: -0.1rem 0 0 0;
  font-size: 12px;
  font-size: 1.2rem;
  color: #b5b5b5;

  a {
    color: #b5b5b5;

    &:hover {
      text-decoration: underline;
    }
  }
}
.post-tile__text-meta__author {}
.post-tile__text-meta__channel {}


.post-tile__body {
  padding: 0 15px;
  padding: 0 1.5rem;

  > ul {
    margin-left: 15px;
  }
  > ol {
    margin-left: 15px;
  }
}


.post-tile__visual-meta {
  position: absolute;
  right: -75px;
  top: 1px;
  width: 65px;
  display: none;

  a {
    display: block;
  }
  img {
    @include border-radius(2px);
    display: block;
  }
}
.post-tile__visual-meta__author {
  display: block;
  margin: 0 0 20px 0;
  img {
    width: 65px;
  }
}
.post-tile__visual-meta__channels {}
.post-tile__visual-meta__channels__item {
  width: 65px;
  height: 65px;
  margin: 0 0 5px 0;

}
.post-tile__visual-meta__channels__item--blank {
  background: #CCC;
  text-align: center;
  line-height: 65px;
  font-size: 65px;
  i {
    color: #AAA;
  }
}

.post-tile__when {
  font-size: 20px;
  font-size: 2rem;
  color: #CCC;
  text-transform: uppercase;
  font-weight: bold;
}
.post-tile__when__month {
  margin: 0 0 5px 0;
}
.post-tile__when__day {}


.post-tile--cover-page-article,
.post-tile--picture {
  .post-tile__body {
    display: none;
  }
  .post-tile__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .post-tile__title,
  .post-tile__text-meta {
    color: #FFF;

    h1 {
      color: #FFF;
    }
    a {
      color: #FFF;
    }
  }
}


.post-tile--article {
  &.post-tile--cover-page-article {
    .post-tile__text {
      @include box-shadow(0 70px 70px -20px rgba(0, 0, 0, 0.65) inset);
    }
  }
}


.post-tile--picture {
  .post-tile__text {
    @include box-shadow(0 -70px 70px -20px rgba(0, 0, 0, 0.65) inset);
  }
  .post-tile__title {
    h1 {
      color: #FFF;
      padding: 15px 15px 5px 15px;
      padding: 1.5rem 1.5rem 0.5rem 1.5rem;
      width: 100%;
      font-weight: 500;
      line-height: 16px;
      line-height: 1.6rem;
      font-size: 18px;
      font-size: 1.8rem;
    }
  }
  .post-tile__text-meta {
    a {
      color: #FFF;
    }
  }
}


.post-tile--text-on-image {
  .post-tile__main-image__bg {
    background: rgba(0,0,0,0.4);
    display: block;
  }
  .post-tile__title {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 5.5rem;
    overflow: hidden;
    text-align: center;

    h2 {
      color: #FFF;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .post-tile__title__inner {
    display: table;
    height: 100%;
  }
  .post-tile__text-meta {
    padding: 0.5rem 1.5rem;
  }
  .post-tile__body {
    display: none;
  }
}