$post-background-color: #FCFCFC;
$post-full-padding-px: 15px;
$post-full-padding-rem: 1.5rem;

#post-collection {
  padding-top: 20px;
  padding-top: 2rem;

  .end {
    text-align: center;
    color: $blue-gray-color;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 60px 0;
    padding: 6rem 0;
    cursor: default;
    text-transform: uppercase;
  }
}

.post-tile {
  width: 100%;
  position: relative;
  max-width: $post-tile-max-width;

  .right-meta {
    position: absolute;
    right: -75px;
    top: 1px;
    width: 65px;
    display: none;

    a {
      display: block;
    }
    img {
      @include border-radius(2px);
      display: block;
    }
    .user {
      display: block;
      margin: 0 0 20px 0;
      img {
        width: 65px;
      }
    }
    .channels {
      img {
        width: 65px;
      }
      li {
        margin: 0 0 5px 0;
      }
    }
  }
  .actions {
    background: $primary-color;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 10px;
    font-size: 12px;
    font-size: 1.2rem;

    .icon-chevron-down,
    .icon-cog {
      color: #FFF;
    }
    .icon-cog {
      margin-right: 5px;
    }
    ul {
      display: none;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 5px 0;
      background: $primary-color;
    }
    li {
      font-weight: bold;
      a {
        padding: 5px 15px;
        color: #FFF;
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }

  &.user-page {
    .meta {
      .author {
        display: none;
      }
    }
    .right-meta {
      .user {
        display: none;
      }
    }
  }
  &.channel-page {
    .meta {
      .channel {
        display: none;
      }
    }
    .right-meta {
      .channels {
        display: none;
      }
    }
  }
  &:hover {
    .actions {
      display: block !important;
    }
  }
}

.post-tile-blank {
  width: 100%;
  max-width: 600px;
  position: relative;
  padding: 0 5px;
  padding: 0 0.5rem;
  margin: 50px 0;
  margin: 5rem 0;

  .inner {
    background: $primary-color-darker;
    padding: 5px;
  }
  .content {
    background: #FFF;
    border: 1px solid $secondary-color;
  }
  .head {
    text-align: center;
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px 0;
    padding: 1.5rem 0;
    background: #F9F9F9;
    border-bottom: 1px solid #F6F6F6;
    color: #6e6e6e;
  }
  .body {
    padding: 15px;
    padding: 1.5rem;
  }
  .channel-suggestions {
    margin: 25px 0 -10px 0;
    margin: 2.5rem 0 -1rem 0;

    li {
      margin: 10px 0;
      margin: 1rem 0;

      a {
        @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 2px);
        @include clearfix();
        display: block;
        background: #F9F9F9;

        &:hover {
          background: #F3F3F3;
        }
      }
      img {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        float: left;
      }
      .name {
        float: left;
        margin: 0 0 0 15px;
        margin: 0 0 0 1.5rem;
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 50px;
        white-space: nowrap;
        overflow: hidden;
        color: #6e6e6e;
      }
    }
  }
  .more {
    margin: 20px 0 0 0;
    margin: 2rem 0 0 0;
    color: #6e6e6e;
    display: inline-block;
  }
}

.post-full-body,
.post-tile-content .content {
  > ol,
  > ul {
    margin: 0 0 25px -5px;
    color: $body-text-color;
  }
  > ul {
    list-style: inherit;
  }
  li {
    padding: 0 0 0 6px;
  }
  > img {
    width: 100%;
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 30px 0 10px;
    margin: 3rem 0 1rem;
  }
}

.post-tile-content {
  position: relative;
  display: block;
  background: #FFF;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 6px solid $primary-color-darker;

  .title {
    padding: 15px 15px 0 15px;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  .meta {
    @include clearfix();
    padding: 0 15px 15px 15px;
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin: -1px 0 0 0;
    margin: -0.1rem 0 0 0;
    font-size: 12px;
    font-size: 1.2rem;
    color: #b5b5b5;

    a {
      color: #b5b5b5;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  img {
    width: 100%;
    display: block;
  }

  .content {
    padding: 0 15px;
    padding: 0 1.5rem;

    > ul {
      margin-left: 15px;
    }
    > ol {
      margin-left: 15px;
    }
  }

  &.full-page,
  &.picture {
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .title {
        color: #FFF;
      }
      .meta {
        color: #FFF;
        a {
          color: #FFF;
        }
      }
    }
  }
  &.article {
    &.full-page {
      border: none;
      .bg {
        @include box-shadow(0 70px 70px -20px rgba(0, 0, 0, 0.65) inset);
      }
    }
  }
  &.picture {
    .bg {
      @include box-shadow(0 -70px 70px -20px rgba(0, 0, 0, 0.65) inset);
    }
    .caption-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .caption {
      color: #FFF;
      font-style: italic;
      padding: 15px 15px 6px 15px;
      padding: 1.5rem 1.5rem 0 1.5rem;
      width: 100%;
      font-weight: 500;
      line-height: 16px;
      line-height: 1.6rem;
    }
  }
  &:hover {
    border-color: $primary-color;
  }
}

// POST SHOW PAGES
.post-full-picture {
  position: relative;

  div.image {
    display: none;
    width: 100%;
  }
  img.image {
    display: none;
    width: 100%;
    margin: auto;
  }
  .fileinput-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .upload-help {
    color: #FFF;
    background: #222;
    padding: 15px;
    padding: 1.5rem;
    font-size: 12px;
    font-size: 1.2rem;
    display: inline-block;
  }
}
.post-full,
.post-full-content-wrapper,
.post-full-header-wrapper {
  background: $body-bg-color-lighter;
}
.post-full-content-wrapper {
  position: relative;
  z-index: 30;
}
.post-full-header {
  padding: 15px;
  padding: 1.5rem;
  max-width: $post-article-max-width;
  margin: 0 auto;
}
.post-full-content {
  padding: $post-full-padding-px;
  padding: $post-full-padding-rem;
  max-width: $post-article-max-width;
  margin: auto;
}
.post-full-top-meta {
  color: #999;
  border-bottom: 1px solid #DDD;
  padding: 1px 0 12px 0;
  padding: 0.1rem 0 1.2rem 0;

  a {
    color: #666;
  }
  .meta-one,
  .meta-two {
    overflow: hidden;
    white-space: nowrap;
  }
}
.post-full-title {
}
.post-full-body {
  background: transparent;
  outline: none;
  border: none;

  img {
    width: 100%;
  }
}
.post-full-actions {
  max-width: $post-article-max-width;
  margin: 20px auto 50px auto;
  margin: 2rem auto 5rem auto;
  padding: $post-full-padding-px;
  padding: $post-full-padding-rem;
  background: $body-bg-color-lighter;

  .recommend {
    position: relative;
    float: left;

    .count {
      display: inline-block;
      font-weight: bold;
      padding: inherit;
      background: darken($primary-color, 10%);
      color: #EFEFEF;
      margin-left: 0;
      cursor: default;
      padding: 12px 10px 10px 10px;
      padding: 1.1rem 1rem 1rem 1rem;
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 1;
      margin-right: 15px;
    }
  }
  .admin-action {
    margin: 0 15px 15px 0;
  }
  .share {
    float: right;
    padding: 12px 0 10px 14px;
    padding: 1.1rem 0 1rem 1.4rem;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;

    i {
      margin: 0 5px 0 0;
    }
  }
}

.post-full-author {
  max-width: $post-article-max-width;
  margin: auto;
  position: relative;

  .content {
    padding-left: 90px;
    padding-left: 9rem;
    min-height: 75px;
    min-height: 7.5rem;
  }
  a {
    border-top: 1px solid #EEE;
    display: block;
    position: relative;
    margin: 0 $post-full-padding-px;
    margin: 0 $post-full-padding-rem;
    padding: 30px 0 50px;
    padding: 3rem 0 5rem;
  }
  img {
    width: 75px;
    height: 75px;
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    top: 30px;
    top: 3rem;
    left: 0;
  }
  .name {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 10px;
    padding-top: 1rem;
  }
  .bio {
    color: $body-text-color;
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.post-full-meta-section {
  background: $tertiary-color;

  .inner {
    max-width: $post-article-max-width;
    margin: auto;
    padding: 0 $post-full-padding-px 25px;
    padding: 0 $post-full-padding-rem 2.5rem;
    position: relative;
  }
  .head {
    padding: 7px 0;
    padding: 0.7rem 0;
    background: $tertiary-color-darker;
    text-transform: uppercase;
    font-weight: 300;
    width: 100px;
    width: 10rem;
    text-align: center;
    margin-bottom: 25px;
    margin-bottom: 2.5rem;
    cursor: default;
  }
  .content {
    position: relative;
  }
  a {
    color: $body-text-color;
  }

  &.dark {
    background: $secondary-color;

    .head {
      background: $secondary-color-darker;
      color: #FFF;
    }
    a {
      color: #FFF;
    }
    .content {
      color: #FFF;
    }
  }
  &.channels {
    .add-channel {
      position: absolute;
      top: 0;
      left: 130px;
      left: 13rem;
      line-height: 35px;
      line-height: 3.5rem;
      cursor: pointer;
      color: #FFF;

      &:hover {
        color: $primary-color;
      }
    }
    li {
      margin: 10px 30px 0 0;
      margin: 1rem 3rem 0 0;
      display: inline-block;

      a {
        display: block;
      }
    }
  }
}

.post-full-picture-placeholder {
  width: 100%;
  display: none;
}

.post-full-markdown {
  display: none;
}

#prev-post,
#next-post {
  @include opacity(0.5);

  display: none;
  overflow: hidden;
  padding: 40px;
  padding: 4rem;
  position: fixed;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  bottom: 80px;
  bottom: 8rem;
  white-space: nowrap;
  width: 300px;
  width: 30rem;
  z-index: 100;
  background: $body-bg-color-lighter;

  .icon {
    position: absolute;
    right: 50%;
    margin-right: -10px;
    top: 25px;
  }

  &:hover {
    @include opacity(1);
  }
}

#prev-post {
  @include rotate(-90deg);
  left: -100px;
  left: -10rem;
}

#next-post {
  @include rotate(90deg);
  right: -100px;
  right: -10rem;
}

.post-full {
  height: 100%;

  // POST STYLES
  &.small-image {
    .post-full-picture {
      max-width: $post-article-max-width;
      margin-left: auto;
      margin-right: auto;

      img.image {
        display: block;
      }
    }
  }
  &.half-page {
    .post-full-picture {
      height: 50%;

      div.image {
        display: block;
      }
    }
  }
  &.full-page {
    .post-full-picture {
      height: 50%;

      div.image {
        display: block;
      }
    }
  }
  &.default {

  }
  // END POST STYLES

  // POST TYPES
  &.article {

  }
  &.picture {
    .post-full-picture {
      width: 100%;
      height: 82%;
      background: #222;

      .image {
        display: block;
      }
    }
    .post-full-top-meta {
      border-bottom: none;
    }
    .post-full-footer {
      padding: $post-full-padding-px;
      padding: $post-full-padding-rem;
      background: $post-background-color;
    }
    .post-full-actions {
      margin: 0 0 70px 0;
      margin: 0 0 7rem 0;
    }
    .post-full-meta-section {
      .inner {
        margin: 0;
      }
    }
    #prev-post,
    #next-post {
      display: none;
    }
    &.default {
      .image {
        @extend .contain-image;
      }
    }
    &.cover {
      .image {
        @extend .cover-image;
      }
    }
  }
  // END POST TYPES
}
// END POST SHOW PAGE