.users-settings {
  .more-social {
    float: right;
    margin: 0 0 20px;
  }
}

.users-dashboard {
  @include clearfix();
  background: $body-bg-color;
}

.dashboard-section {
  background: #FFF;
  position: relative;
  float: left;
  height: 0;
  width: 29%;
  padding-bottom: 17%;
  margin: 0.5%;

  .head {
    @include clearfix();
    padding: 25px 25px 5px 25px;
    padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  }
  .big-number {
    font-size: 36px;
    font-size: 3.6rem;
    font-weight: bold;

    .name {
      font-size: 160px;
      font-size: 1.6rem;
      font-weight: normal;
      color: #BBB;
      margin-left: 8px;
      margin-left: 0.8rem;
    }
  }
  .change {
    font-size: 12px;
    font-size: 1.2rem;

    span {
      font-weight: bold;
    }

    &.positive {
      span {
        color: $green;
      }
    }
    &.negative {
      span {
        color: $red;
      }
    }
    &.neutral {
      span {
        color: #999;
      }
    }
  }
  .chart {
    &.column {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &.double-h {
    padding-bottom: 35%;
  }
  &.double-w {
    width: 39%;
  }
  &.site-name {
    background: $secondary-color-darker;
    h1 {
      color: #FFF;
      font-family: SpecialElite;
      text-align: center;
      margin-top: 19%;
      cursor: default;
    }
  }
  &.post-views {
    .first {
      float: left;
    }
    .second {
      float: right;
    }
  }
  &.posts {
    overflow: auto;

    ul {

    }
    li {
      padding: 5px 10px 5px 30px;
      padding: 0.5rem 1rem 0.5rem 3rem;
      position: relative;
      border-bottom: 1px solid #EEE;
      line-height: 20px;
      line-height: 2rem;
      cursor: pointer;

      i {
        position: absolute;
        top: 50%;
        left: 10px;
        font-size: 12px;
        font-size: 1.2rem;
        margin-top: -0.6rem;
        color: #CCC;
      }

      &:hover {
        background: $primary-color;
        color: #FFF;

        i {
          color: #FFF;
        }
      }
      &.on {
        background: $primary-color-darker;
        color: #FFF;
        cursor: default;

        i {
          color: #FFF;
        }
      }
    }
  }
}