.wrapper
  .section.home
    %a.part.nav_link{:href => root_url(:host => site_host)}
      %i.icon-home

  .section.menu
    .part.nav_link.dropdown
      .name
        Menu
        %i.icon-chevron-down
      .menu
        %ul
          - if signed_in?
            %li
              %a{:href => new_channel_path, 'data-skip-pjax' => true}
                %i.icon-plus
                New Channel
            %li
              %a{:href => user_path(current_user)} My Profile
            %li
              %a{:href => user_drafts_path}= "My Drafts (#{current_user.drafts.count})"
            -#%li
            -#  %a{:href => user_basic_settings_url(:host => site_host)} Settings
            %li.logout
              %a{:href => destroy_user_session_url(:host => site_host, 'data-skip-pjax' => true)} Logout
          - else
            %li
              %a{:href => signin_path} Sign In
            %li
              %a{:href => user_registration_path} Join Now

          %li
            %a{:href => "http://www.getthisthat.com/c/about-thisthat/wtf"} About

  - if @page_title
    .section.main
      %h1.part= @page_title

  = yield :header

  .clear